html,body{
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}

.jumbotron{
    background-color: rgba(77, 143, 137, 0.64);
}

.text-center{
    color: #04f318;
}

h1{
    font-size: 33px;
    text-align: center;
    color: #09ff1e;
}